:root{
    --westar: #e6e3e0;
    --firefly: #081a26;
    --sea-buckthorn: #f7a13f;
    --chicago: #645f58;
    --oslo-gray: #d1d4d4;
    --denim: #1189c6;
    --oracle: #346973;
    --lochinvar: #12cfa0;
    --casal: #2ad4aa;
}



